<table class="cardView_table cardView_table-unicarbdb">
  <tr>
{{#each pubchemLabels}}
  <th>{{l_cid}}</th>
  <th>{{l_sid}}</th>
    {{break}}
{{/each}}
  </tr>
{{#each pubchemSearch}}
  </tr>
    <td><a href="{{cid_url}}" target="_blank">{{cid}}</a></td>
    <td><a href="{{sid_url}}" target="_blank">{{sid}}</a></td>
  </tr>
{{/each}}
</table>
