<table class="cardView_table cardView_table-unicarbkb">
  <tr>
{{#each unicarbkbLabels}}
  <th>{{l_unicarbkb_id}}</th>
    {{break}}
{{/each}}
  </tr>
{{#each unicarbkbSearch}}
  </tr>
    <td><a href="{{url}}" target="_blank">{{structure_id}}</a></td>
  </tr>
{{/each}}
</table>

