<table class="cardView_table cardView_table-unicarbdb">
  <tr>
{{#each unicarbdbLabels}}
  <th>{{l_unicarbdb_id}}</th>
    {{break}}
{{/each}}
  </tr>
{{#each unicarbdbSearch}}
  </tr>
  	<td><a href="{{url}}" target="_blank">{{unicarbdb_id}}</a></td>
  </tr>
{{/each}}
</table>
