<ul class="cardView_ul clearfix">
{{#each relSearch}}
{{#if MotifName}}
<li class="cardView_li">
	<div class="cardView_liHeader"><span class="cardView_liTitle">{{MotifName}}</span></div>
	<div class="cardView_liImg js_list_img">
		<img class="js_zoomImg" data-acc="{{moAccNum}}" src="" alt="" />
	</div>
	<dl class="cardView_liOther clearfix">
		<dt>{{l_accessionNumber}}</dt><dd><a href="/Structures/Glycans/{{moAccNum}}">{{moAccNum}}</a></dd>
	</dl>
</li><!--/.cardView_li-->
{{/if}}
{{#if ComponentName}}
	<li class="cardView_li">
	<div class="cardView_liHeader"><span class="cardView_liTitle">{{ComponentName}}</span></div>
	<dl class="cardView_liOther clearfix">
		<dt>{{l_cardinality}}</dt><dd>{{cardinality}}</dd>
	</dl>
</li><!--/.cardView_li-->
{{/if}}
{{#if isomerAccNum}}
<li class="cardView_li">
	<div class="cardView_liImg js_list_img">
		<img class="js_zoomImg" data-acc="{{isomerAccNum}}" src="" alt="" />
	</div>
	<dl class="cardView_liOther clearfix">
		<dt>{{l_accessionNumber}}</dt><dd><a href="/Structures/Glycans/{{isomerAccNum}}">{{isomerAccNum}}</a></dd>
	</dl>
</li><!--/.cardView_li-->
{{/if}}
{{/each}}
</ul>
